.card {
    display: flex;


}

#btn1 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    background-color: yellow;
    size: 40px;
}

/* span {
    color: red;
    font-size: larger;
    display: none;
} */

.form-text {
    display: none;
    color: red;
    font-size: larger;
}